/* Les variables globales permettant à un designer de changer les valeurs des variables sans devoir aller dans le coeur du code,
ils me permettent surtout à m'éviter de devoir chercher les valeurs dans le code.*/
:root {

    /* color theme */
    --primaryColorDark: #191819;
    --primaryColorLight: #FFF;
    --primaryColor: #7E1625;
    --secondaryColorLight: #B2B3B3;
    --bgNavGradientColor: linear-gradient(to left, rgba(25, 24, 25, 0.08) 0%, rgba(25, 24, 25, 0.01) 95.63%, rgba(25, 24, 25, 0.00) 100%);



    /* Font theme */
    --primaryFont: 'Poppins', sans-serif;
    --fontUppercase: 'Work Sans', sans-serif;

    /* spaces */
    --mainWidthContainer: 80vw;
    --menuSpacing: 2rem;
    --separtorSpacing: 1rem;
    --menuAboutHeight: 2rem;
    --socialsSpacing: 0.5rem;

    /* font */
    --fontSizeMenuAbout: 0.5rem;
    --fontWeightMenuAbout: 500;
    --fontSizeMenuSalon: 0.80rem;
    --fontWeightMenuSalon: 600;

}


/* Je vais du plus général au plus détaillé pour la priorité et la lisibilité du code. Je vais aussi de haut en bas de mon code html*/
* {
    margin: 0;
    /* Je ne sais pas si c'est une bonne pratique, je veux juste être sur que je controle bien mes margin et padding */
    padding: 0;
    color: var(--primaryColorDark);
    font-family: var(--primaryFont);
}

.main-container,
main,
nav {
    margin-left: auto;
    margin-right: auto;
    width: var(--mainWidthContainer);

}

h1,
h2,
h3,
nav {
    font-family: var(--fontUppercase);
    text-transform: uppercase;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    list-style: none;
}

li {
    display: flex;
    align-items: center;
}

nav ul {

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



nav li:last-child {
    padding-right: 0;
}

.logo-nav {
    align-self: center;

}




.separator>li:not(li:first-child)::before {
    content: "I";

    margin-left: var(--separtorSpacing);
    margin-right: var(--separtorSpacing);
}

.socials {
    margin: 0;
    padding: 0;
    margin-left: var(--separtorSpacing);
}

.socials li {
    padding-left: var(--socialsSpacing);
}

.about-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: var(--fontSizeMenuAbout);
    font-weight: var(--fontWeightMenuAbout);
    height: var(--menuAboutHeight);

}

.gradient-bg {
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: var(--menuAboutHeight);
    background: var(--bgNavGradientColor);
}

.salon-nav {

    font-size: var(--fontSizeMenuSalon);
    font-weight: var(--fontWeightMenuSalon);
    justify-content: end;

}

.salon-nav li {

    padding: 1rem var(--menuSpacing);
}

.salon-nav li:last-child {

    color: var(--primaryColor)
}

.ticket-icon {
    padding: 1em;
}

nav .ticket-icon {
    padding: 0 0.5em;
}


/* for clarity until carousel script*/
.block-carousel {

    display: flex;
    z-index: -2;
}

#section-carousel article {
    position: relative;
    overflow: hidden;
}



#section-carousel .carousel-text {

    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    padding: 10px;

}


#section-carousel .carousel-text * {

    position: relative;
}

/* ///////////////////////////////// */

footer {
    background-color: var(--primaryColor);
}