/* Les variables globales permettant à un designer de changer les valeurs des variables sans devoir aller dans le coeur du code,
ils me permettent surtout à m'éviter de devoir chercher les valeurs dans le code.*/

:root {

    /* color theme */
    --primaryColorDark: #191819;
    --secondaryColorDark: #191819cc;
    --primaryColorLight: #FFF;
    --primaryColor: #7E1625;
    --secondaryColorLight: #B2B3B3;
    --bgDates: rgb(255, 255, 255, 0.2);
    --bgNavGradientColor: linear-gradient(to left, rgba(25, 24, 25, 0.08) 0%, rgba(25, 24, 25, 0.01) 95.63%, rgba(25, 24, 25, 0.00) 100%);
    --darken: #000A;
    --lightOpacity: #ffffff33;
    --redOpacity: #7E162533;

    /* Font family */
    --primaryFont: 'Poppins', sans-serif;
    --fontUppercase: 'Work Sans', sans-serif;

    /* =========
    === FONT ===
    ==========*/
    --primaryFontSize: 1.125;
    /* H1 et H2 */
    --hOneFontSize: 3.25rem;
    --hTwoFontSize: 0.87rem;
    /* deuxieme partie des titre h2 en plus gros */
    --strongerTitlePart: 3em;
    /* hauteur sauter de ligne dans les titres h2 */
    --lineHeightHTwo: 1.1rem;

    /* espacement entre les sections */
    --marginSection: 4.3rem;

    /*=== CTA === */
    --paddingCTAHeight: 1rem;
    /* !! Ceci influence la distance entre le rond et la bordure des CTA qui ont une icone !! */
    --marginIconCTA: 0.2rem;
    /* changer la proportionalité entre le padding en hauteur et largeur */
    --paddingCTARatio: 2.5;
    --paddingCTA: var(--paddingCTAHeight) calc(var(--paddingCTARatio) * var(--paddingCTAHeight));
    --paddingIconCTA: calc(var(--paddingCTAHeight) - var(--marginIconCTA));
    --weightCTA: 700;
    --fontSizeCTA: 0.7rem;
    --borderRadiusCTA: calc(var(--paddingCTAHeight)*2);
    /* influence les CTA qui ont une bordure */
    --borderThicknessCTA: 0.1rem;





    /* font du header même taille que le menu  */
    --heightMenuAbout: 2.3rem;
    /* menu 2nd ligne*/
    --menuSpacing: 1.9rem;
    --marginMenuSalonLi: var(--menuSpacing);

    /*change l'espacement dans la parti section stat*/
    --spacingStatBlock: 1rem;

    /* footer */
    --heightFooter: 3rem;

    /*==================================================
    1241px est la largeur entre les marges de la maquette
    ====================================================*/
    --mainWidthContainer: 1241px;
}

/*#region ============================== GENERAL ==============================*/

/* Je vais du plus général au plus détaillé une meilleur  visibilité du code en terme de priorité. Aussi je suis mon code html de haut en bas*/
* {
    /* Je ne sais pas si c'est une bonne pratique, je veux juste être sur que je controle bien mes margin et padding */
    margin: 0;
    padding: 0;
    /*  */
    color: var(--primaryColorDark);
    font-family: var(--primaryFont);
    font-size: var(--primaryFontSize);
}

/* espacement marge du site*/
main,
nav,
.block-footer {
    margin-left: auto;
    margin-right: auto;
    width: var(--mainWidthContainer);
}


h1,
h2,
h3,
h4,
h5,
h6 {

    font-size: 2em;
    margin: 0;
    font-weight: 400;
    font-size: 1em;
}

/* Applique le style particulier sur les elements qui en ont besoins */
h1,
h2,
nav,
.learn-more,
.cta,
label[for="email"],
td:last-child p,
footer li,
.carousel-text p {
    font-family: var(--fontUppercase);
    text-transform: uppercase;
}

section {
    margin: var(--marginSection) 0;
}




section article {
    display: flex;
}


article {
    margin: 0;
}

h2,
h3 {

    font-size: var(--hTwoFontSize);
}

h2 {
    color: var(--primaryColor);
    letter-spacing: 0.04rem;
    font-weight: 500;
    margin-bottom: 2rem;
}


/* ======= TODO : Regarder si l'inverse n'est pas mieu */

/* deuxieme partie des titre h2 qui ont une police différente */
h2 strong {
    color: var(--secondaryColorDark);
    font-family: var(--primaryFont);
    text-transform: none;
    font-size: var(--strongerTitlePart);
    font-weight: 400;
    line-height: var(--lineHeightHTwo);
    letter-spacing: normal;
}

/* j'ajoute un retour à la ligne juste avant la second partie de h2 */
h2 strong::before {
    content: "\a";
    white-space: pre;

}

/* On compense l'espace supplémentaire crée par line-height h2 entre les sections */
section h2:first-child {
    display: flex;
    flex-direction: column;
    margin-top: 0;


}

ul {
    list-style: none;
}

li {
    display: flex;
    align-items: center;
}


/*  Une liste qui aura cette class ajoutera un I à gauche sur chaque li avec les espacements spécifiés sauf pour le premier. On peut remplacer I par "|"  et ajouter plus de style dessu
 mais la police donne le résultat attendu de la maquette */
.separator>li:not(li:first-child)::before {
    content: "I";
    color: #00000033;
    margin: auto 1.2rem;
    font-weight: 300;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 2.9rem;
}

/*#region ====CTA==== */

/* les cta sont des tag <a> a part excepté celui de la newsletter qui est un input*/
/* Je généralise le bouton cta */
.cta {

    font-size: var(--fontSizeCTA);
    font-weight: var(--weightCTA);
    text-decoration: none;
    color: var(--primaryColorLight);
    padding: var(--paddingCTA);
    border: none;
    border-radius: var(--borderRadiusCTA);
    letter-spacing: 0.04;
}

/* ==== Je personalise le bouton cta ==== */
.cta-red {
    color: var(--primaryColorLight);
    background-color: var(--primaryColor);
}

.cta-white {
    border: solid var(--borderThicknessCTA);
    color: var(--primaryColor);
    background-color: var(--primaryColorLight);
}

/* balise div contenant l'icon, permet de créer le fond rond sans avoir l'icone hérité de la bordure ronde */
.icon-in-cta {

    background-color: var(--lightOpacity);
    border-radius: 50%;
    align-items: center;
    display: flex;
    padding: var(--paddingIconCTA);
    margin: var(--marginIconCTA);
    margin-right: 1rem;


}

/* CTA qui contient une icone */
.cta-with-icon {
    display: flex;
    align-items: center;
    width: fit-content;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;

}

/*#endregion ====CTA==== */





/*#endregion ============================== GENERAL ==============================*/

/*#region ============================== HEADER ==============================*/

/* Fixe un fond coloré en haut de la page avec la même hauteur que la première ligne de navigation */
.gradient-bg {
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: var(--heightMenuAbout);
    background: var(--bgNavGradientColor);
}


nav {

    display: flex;
    justify-content: space-between;
    align-items: center;

}


nav ul {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 0;

}



/* ne fonctionne que si .logo-nav est un enfant d'un block en display flex */
.logo-nav {
    align-self: center;

}


/* Hauteur partagé avec font coloré fixe */
.about-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.625rem;
    font-weight: 500;
    letter-spacing: 0.04rem;
    height: var(--heightMenuAbout);

}

/* <ul> class contenant les logos facebook et insta */
.socials {
    margin-left: 1rem;
}

.socials li {

    margin-left: 0.7rem;
}


.salon-nav {

    font-size: 0.8rem;
    font-weight: 600;
    justify-content: end;
    letter-spacing: 0.03rem;
}


.salon-nav li {

    margin: calc(var(--menuSpacing)/2) 0;
    margin-left: var(--marginMenuSalonLi);

}

/* Le lien Billetterie en rouge */
.salon-nav li:last-child {

    color: var(--primaryColor)
}

nav .ticket-icon {
    margin: 0 0.5em;

}


/*#endregion ============================== HEADER ==============================*/

/*#region ============================== CAROUSEL ==============================*/


#section-carousel {
    margin-top: 0.5rem;
}

h1 {
    font-size: var(--hOneFontSize);
    font-family: var(--primaryFont);
    font-weight: 500;
    text-transform: none;
    line-height: 3.875rem;
    margin: 0.5rem 0.2rem;
}

.cta-carousel {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
}

.cta-carousel .cta {
    border: none;
    margin-left: 0.7rem;
}

.cta-carousel .cta:first-of-type {
    border: solid var(--borderThicknessCTA) var(--primaryColorLight);
    margin-left: 0;

}

.cta-carousel .icon-in-cta {
    background-color: var(--redOpacity);
    transform: rotate(15deg);
}

#section-carousel article {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}


#section-carousel .carousel-text {
    margin-left: 5rem;
    position: absolute;
    z-index: 1;
}

/* tous les éléments dans le text de la section carousel sauf mes boutons CTA */
#section-carousel .carousel-text *:not(.cta) {
    color: var(--primaryColorLight);
}

.carousel-text p {
    font-weight: 700;
}

.carousel-text p:first-of-type {
    letter-spacing: 0.04rem;
    font-size: 0.87rem;
    background-color: var(--bgDates);
    padding: 0.2rem 1.1rem;
    margin: 1rem 0;
    border-radius: 2rem;
    width: fit-content;
}

/* le > dans la date */
#section-carousel span {
    font-weight: 400;
    font-size: larger;
    vertical-align: middle;
}

.carousel-text p:last-of-type {
    font-size: 0.6rem;
    padding: 0.5rem;
    width: fit-content;
    border-top: dotted 1px var(--primaryColorLight);

}

.carousel-text p:last-of-type img {
    vertical-align: middle;
    margin: auto 0.8em;
}

#section-carousel .carousel img {
    filter: brightness(0.6);
}

/* en attendant le script */
.block-carousel {


    z-index: -2;
}

.carousel {

    display: flex;

}

/*  */

/*#endregion ============================== CAROUSEL ==============================*/

/*#region ============================== PRESENTATION + STAND ==============================*/





section .text-content p {
    line-height: 1.6rem;
    margin-right: 3rem;
    margin-top: 0rem;

}

section .text-content p:last-of-type {
    color: var(--secondaryColorDark);
    font-size: 0.875rem;
    line-height: 1.5rem;
}

#section-presentation .text-content {

    padding-bottom: var(--paddingCTAHeight);
}

#section-presentation h2 {
    margin: 1rem 0;
}


#section-stand article {
    display: flex;
    flex-direction: column;
}

.contenu-section-stand {
    display: flex;
    margin: 1.2rem 0;
}

#section-stand .text-content {
    justify-content: flex-start;

}

#section-stand .text-content>* {
    margin-bottom: 2rem;

}

#section-stand .text-content p:first-of-type {
    line-height: 1.625rem;
    font-size: var(--primaryFontSize);
    margin-bottom: 0.5rem;

}

/* dans la section stand, premiere lettre du premier element <p> */
#section-stand .text-content p:first-of-type::first-letter {

    font-size: 3.87rem;
    color: var(--primaryColor);
    /* Text s'adapte autour de la lettre  */
    float: left;
    font-weight: 600;
    margin-right: 0.4rem;
    margin-bottom: 0.1rem;
}


/*#endregion ============================== PRESENTATION + STAND ==============================*/

/*#region ============================== STATS ==============================*/

#section-stats article {
    background-image: url("assets/img/black_grape_bg.jpg");
    background-color: var(--darken);
    background-blend-mode: darken;
    display: flex;
    color: var(--primaryColorLight);
    padding: 1rem 0;
    ;

}

/* en modifiant juste une variable on a l'espacement qui reste proportionel */
.stat-block {
    margin: calc(var(--spacingStatBlock)*3) var(--spacingStatBlock);
    padding-right: var(--spacingStatBlock);

}

.stat-block p:last-of-type {

    font-size: 0.8em;
    color: #ffffffcc;
}

/* un autre separateur mais avec l'utilisation des bordures */
.stat-block:not(.stat-block:last-child) {
    border-right: dotted 1px var(--secondaryColorLight);
}

.stat-block h3 {
    font-family: var(--fontUppercase);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: var(--spacingStatBlock);

}

.stat-block p,
.stat-block h3 {
    color: var(--primaryColorLight);

}

h3 strong {

    color: var(--primaryColor);
    font-size: var(--hOneFontSize);
    font-weight: inherit;
    margin: 0.2rem;
}

h3 strong sup {
    color: var(--primaryColor);
    font-size: 0.5em;
    text-transform: none;
}

/* saut de ligne aprés <strong> */
h3 strong::after {
    content: "\a";
    white-space: pre;

}

/*#endregion ============================== STATS ==============================*/

/*#region ============================== BLOG ==============================*/

/* TODO ======= Carousel */



#section-blog .carousel {
    overflow-x: hidden;
}

#section-blog article {
    flex-direction: column;
    margin: 0 1rem;

}

#section-blog .cta-container {
    display: flex;

    justify-content: center;

}

.learn-more {
    color: var(--primaryColor);
    font-weight: 800;
    text-underline-offset: 0.3em;
    font-size: 0.75rem;
    letter-spacing: 0.05em;
    text-decoration: underline 0.1em var(--primaryColor);
}


/*#endregion ============================== BLOG ==============================*/


/*#region ============================== NEWSLETTER ==============================*/
#section-newsletter {
    background-image: url("assets/img/white_grape_bg.jpg");
    background-color: var(--darken);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;

}

.block-mail-submit,
#section-newsletter h2 {
    text-align: center;
}


#section-newsletter h2,
#section-newsletter h2 strong {

    color: var(--primaryColorLight);
}


#section-newsletter .cta {
    border-radius: 0;

}

form {
    margin: 1rem;
    width: 33%;
    margin: auto;
}

form label {
    text-align: left;
    color: var(--primaryColorLight);
    margin-left: 1rem;
}

.consent-block {
    margin: 0 1rem;
}

[for="consent"] {
    font-weight: 400;
    font-size: 0.75em;
    color: var(--secondaryColorLight);
}

label[for="email"] {
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 0.75rem;
}

#section-newsletter [name=email] {
    border-bottom-left-radius: var(--borderRadiusCTA);
    border-top-left-radius: var(--borderRadiusCTA);
}

#section-newsletter [name=subscribe] {
    border-bottom-right-radius: var(--borderRadiusCTA);
    border-top-right-radius: var(--borderRadiusCTA);
}

/*#endregion ============================== NEWSLETTER ==============================*/


/*#region ============================== TARIFS ============================== */

#section-tarifs .icon-in-cta {
    transform: rotate(15deg);
}

.text-container {
    margin: 1rem 1rem;
    margin-top: 2rem;
}


.text-container p {
    margin: 1rem 3rem;
    margin-left: 0;
}

.tarifs-content {
    display: flex;

}

.table-and-content {
    margin-left: 3rem;
}

figure {
    width: auto;
    height: max-content;
}

#section-tarifs article>figure {
    margin-top: 2rem;
}

table {
    margin: 1rem;
    border-collapse: collapse;
}

td {

    padding: 2rem;
    border-top: dotted 1px;
    border-bottom: dotted 1px;
}

td:first-child {
    border-right: dotted 1px;
    padding: 0.6rem;
}

td p {
    font-family: var(--primaryFont);
    text-transform: none;
    color: var(--secondaryColorDark);
    font-size: 0.8rem;
}

td:first-child p:first-child {
    font-size: 1rem;
    color: var(--primaryColorDark);
    font-weight: 600;
}

td:last-child p {
    text-align: center;
    font-weight: 500;
    color: var(--primaryColor);
    font-size: 1rem;
}

.tarifs-cta-container {
    margin-top: 1rem;
}

/*#endregion ============================== TARIFS ============================== */

/*#region ============================== CONTACT ============================== */
/*#endregion ============================== CONTACT ============================== */
#section-contact article {
    color: var(--primaryColorLight);
    position: relative;
}


#section-contact h2 strong {
    color: var(--primaryColorLight);

}



#section-contact li strong,
#section-contact h2,
#section-contact li {
    color: var(--secondaryColorLight);
}

#section-contact ul:first-of-type li {
    color: var(--primaryColorLight);
    margin: 0.5rem 0.5rem 0.5rem 0;
    font-size: var(--primaryFontSize);
}

#section-contact ul {
    margin: 2rem 0;
}

#section-contact ul:first-of-type {
    margin: 0;
}

#section-contact .cta-container {
    margin: 2rem 0;
}



#section-contact li {
    margin: 0.2rem;
    font-size: 0.8rem;
}

.overlay-contact {
    padding: 1.5rem 3rem;
    background-color: var(--primaryColorDark);
    position: absolute;
    bottom: -1rem;
    right: 0;
}

.contact-details img {
    align-self: flex-start;
    margin: 0.3em 0.5em 0.3em 0;
}

#section-contact figure {
    width: 100%;
    height: 475px;
    overflow: hidden;

}

/*#region ============================== FOOTER ==============================*/

footer {
    margin-top: 3rem;
    background-color: var(--primaryColor);
    display: flex;
}

footer ul {

    display: flex;
}

footer li {

    color: var(--primaryColorLight);
    font-size: 0.7rem;
    font-weight: 500;
}

.block-footer p {

    color: var(--secondaryColorLight);
    font-size: 0.7rem;
}

.block-footer {
    height: var(--heightFooter);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bg {
    z-index: -1;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: var(--heightFooter);
    background: var(--primaryColor);
}

/*#endregion ============================== FOOTER ==============================*/